.marginnote {
    left: -17.5em;
    position: absolute;
    width: 16em;
    background-color: #feff9c;
    box-shadow: inset -0.3em 0 4px -4px #bbb, -0.125em 0 0.5em -0.25em #777;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 0.25em 0 0 0.25em;
}
